<link rel="stylesheet" href="/css/header.css">
<header>
    <h1>StreamScape</h1>
    <h3>Connecting People, Empowering Communities</h3>
    <ul>
        <!-- if user is signed IN(or authenticated) -->
        <!-- locals.user is from setAuthenticated function -->
        <% if(locals.user){%>
          <!-- locals.user and user is same the difference is just that 1st will only appear if logIn -->
            <li><a href="/user/profile/<%=locals.user.id%>"><%=user.Name%></a></li>
            <li><a href="/user/sign-out">Sign Out</a></li>
            <!-- if user is signed Out -->
            <%}else{%>
              <li>
                <a href="/user/sign-in">Sign In</a>
              </li>
              <li><a href="/user/sign-up">Sign Up</a></li>
           <% }%>
    </ul>
</header>