<style>
    body{
        background : linear-gradient(90deg, #853fb4, #c7b0af)
    }
</style>
<h1>SignIn Page</h1>

<form action="/user/create-session" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Log In">
</form>

<p>
    <a href="/user/auth/google">Google SignIn/SignUp </a>
</p>
<p>
    <div style="align-self: flex-end;margin-top: 1rem;"><a href="/auth/">Forgot Password ?</a></div>
</p>