<style>
    body{
        background : linear-gradient(90deg, #cbcbc0, #b091c1)
    }
</style>
<h1>SignUp Page</h1>

<form action="/user/create" method="post">
    <input type="text" name="Name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up" >
</form>

<p>
    <a href="/user/auth/google">Google SignIn/SignUp </a>
</p>