#layout-footer{
    color: white;
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;

}
.home-link{
    color: white;
    text-decoration: none;
}
.home-link:hover{
    color: black;
}
.footer-nav ul{
    list-style: none;
}